/* line 1, ../src/master.scss */
body {
  font-family: Arial, sans-serif;
  background: #607480;
  color: #000000;
}

/* self clear */
/* line 8, ../src/master.scss */
div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 10, ../src/master.scss */
a {
  color: #3E423A;
}
/* line 12, ../src/master.scss */
a:visited {
  color: #6C6E58;
}

/* line 15, ../src/master.scss */
ol {
  display: block;
  list-style-type: decimal;
  padding-left: 40px;
}

/* line 21, ../src/master.scss */
.more {
  font-size: 0.7em;
}

/* line 24, ../src/master.scss */
#container {
  width: 60em;
  margin: 2em auto 0;
  padding: 0;
  background: #fff;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

/* line 34, ../src/master.scss */
#header {
  text-align: left;
  background: #171717;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 1.5em;
  text-align: center;
}
/* line 45, ../src/master.scss */
#header h1 {
  font-size: 4em;
  display: inline;
  letter-spacing: -0.08em;
  color: #fff;
  font-weight: normal;
}
/* line 51, ../src/master.scss */
#header h1 a {
  color: inherit;
  text-decoration: none;
}
/* line 54, ../src/master.scss */
#header h1:hover {
  text-decoration: underline;
}
/* line 56, ../src/master.scss */
#header h2 {
  display: inline;
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: normal;
}
/* line 57, ../src/master.scss */
#header h2 a {
  color: #BF7F30;
  text-decoration: none;
}
/* line 60, ../src/master.scss */
#header h2 a:hover {
  text-decoration: underline;
}

/* line 73, ../src/master.scss */
#content {
  padding: 2em;
  background: #E6E0D8;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* line 86, ../src/master.scss */
#main {
  float: left;
  width: 40em;
}

/* line 92, ../src/master.scss */
#sidebar {
  margin-left: 1em;
  background: #E6E0D8;
  float: left;
  width: 15em;
}

/* line 101, ../src/master.scss */
.post h1 {
  margin-top: 0.2em;
  margin-bottom: 0.67em;
  font-size: 2em;
  display: block;
}
/* line 106, ../src/master.scss */
.post h1 a {
  color: inherit;
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #dba;
  font-weight: bold;
}
/* line 118, ../src/master.scss */
.post h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
/* line 125, ../src/master.scss */
.post h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 131, ../src/master.scss */
.post ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 134, ../src/master.scss */
.post ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 140, ../src/master.scss */
.post p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 140%;
  letter-spacing: -0.03em;
}
/* line 146, ../src/master.scss */
.post .date {
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  text-align: right;
  color: #000;
}

/* line 155, ../src/master.scss */
.title {
  background: #171717;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #D4D4D4;
  margin-bottom: 0em;
  color: white;
  font-size: 1.5em;
}
/* line 161, ../src/master.scss */
.title a {
  color: inherit;
}

/* line 165, ../src/master.scss */
pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
  margin: 1em 0px;
}

/* line 179, ../src/master.scss */
.topic {
  background: #FAD8AF;
  border: 2px solid #B89F80;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 189, ../src/master.scss */
.topic h3 {
  margin: 0 0 0.3em 0;
}
/* line 191, ../src/master.scss */
.topic h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

/* line 200, ../src/master.scss */
#footer {
  margin: 0 auto 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em 0;
  text-align: center;
  width: 56em;
}
/* line 207, ../src/master.scss */
#footer a {
  color: #3E423A;
  font-weight: normal;
}
